@import "reset";
@import "_scrollbar";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import "utils";

$scrollbarColor: $dark_accent;
$scrollbarWidth: 0.9rem;

$background: #282c34;

@include scrollbar($scrollbarColor, $scrollbarWidth);

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $background;
}
