@import "utils";

.planets {
    @include themed() {
        @include borderOneSize(top, t('text'), 1px);
        background-color: t('navbar');
        color: t('text');
    }
    margin-top: 5rem;
}

.planets-list {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    @include themed() {
        @include borderOneSize(bottom, t('text'), 1px);
        color: t('text');
    }

    li {
        display: flex;
        flex-direction: column;
        @include grid-column-item(1);
    }

    p {
        margin: 5px;
    }

    img {
        height: 100px;
        transition-duration: 1s;
    }

    img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }

    @include breakpoint(xl) {
		li {
            @include grid-column-item(5);
        }
	}

    @include breakpoint(l) {
		li {
            @include grid-column-item(3);
        }
	}

    @include breakpoint(m) {
		li {
            @include grid-column-item(2);
        }
	}

    @include breakpoint(s) {
		li {
            @include grid-column-item(2);
        }
	}
}

.backdrop {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.333); 
}

.modal {
    width: 70%;
    height: 70%;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include themed() {
        background-color: t('navbar');
        color: t('text');
    }
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        max-width: 200px;
        margin: auto;
    }

    button {
        margin: auto;
        background: none;
        @include themed() {
            color: t('text');
        }
        outline: none;
    }
}